<div class="mini-nav">
  <div class="d-flex justify-content-center">
    <%= link_to 'All projects', projects_path, class: "btn btn-projects" %>
    <%= link_to 'Succeeded projects', success_path, class: "btn btn-projects" %>
    <%= link_to 'Upcoming projects', upcoming_path, class: "btn btn-projects" %>
    <%= link_to 'Ongoing projects', ongoing_path, class: "btn btn-projects" %>
  </div>
</div>
