<div class="d-flex">
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-login' %>
  <% else %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-success" %>
  <% end %>
</div>
