<div class="container">
  <div class="infos">
    <%= form_for @contribution do |f| %>
      <%= f.collection_select(:counterpart_id, @counterparts, :id, :amount_in_cents) %>
      <br>
      <%= f.submit 'Choose yours' %>
    <% end %>
    <%= link_to 'Or go back', projects_path, class: "btn btn-primary" %>
  </div>
</div>
