.nav {
  justify-content: space-between;
  background: #FFFFFF;
}

.nav .navbar-collapse {
  flex-grow: 0;
}

.nav .navbar-brand img {
  width: 40px;
}
.mini-nav{
  padding:10px;
  background: #D53855;
  height: auto;
}
